$primary: #343637;
$secondary: #2b83f7; 
$ternary: #eeeeee;
$quaternary: #033795;
$quinary: #77aff6;
$senary: #d0d0d0;
$septenary: #d0d0d0;

$deleteColor: #e70f0f;

$padding: 18px;
$border-color: rgb(241, 241, 241);


