@import '../../assets/scss/style';

@keyframes example {
  0%   {
  	position: absolute;
  	top: 200px;
  }
  15%  {
  	top: 150px;
  }
  30%  {
  	top: 125px;
  }
  45%  {
  	top: 100px;
  }
  60% {
  	top: 70px;
  }
  75%  {
  	top: 40px;
  }
  80%  {
  	top: 10px;
  }
  100% {
  	position: static;
  }
}

.served-cards {		
	display: flex;
	justify-content: center;

	&__deck {	
		display: flex;

		.vertical & {
			flex-flow: column;			
		}

		& img {
			width: 65px;
			&:not(:first-child) {
				margin-left: -40px;
			}

			.vertical & {
				margin-left: 0px;				
				&:not(:first-child) {
					margin-top: -125%;
				}
			}			

			@media only screen and (max-width: 576px) {
				width: 50px;
			}

			&:hover {
				transform: translateY(-20px);
			}
			
			animation: example 300ms linear; 				
		}

		& .trump-deck {
			margin-left: 20px;
			display: flex;
			align-items: center;

			.vertical & {
				margin-left: 0px;
				margin-top: 40px;			
			}						

			& img {
				width: 65px;
				@media only screen and (max-width: 576px) {
					width: 50px;
				}
			}		
		}
	}
}


